<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1.jpg</string>
		<key>price</key>
		<string>0.8~29.7</string>
		<key>active</key>
		<string>0.92</string>
		<key>name</key>
		<string>华联超市(饮料类)</string>
		<key>des</key>
		<string>华联超市股份有限公司是中国国内第一家上市的连锁超市公司，其前身为成立于1993年1月的上海华联超市公司。公司以“挑战极限，追求卓越”为企业精神，以“低成本、低投入、高效益、高产出”为经营原则，以特许加盟为经营特色，形成了以标准超市、大卖场、便利店为主营业态，以现代化物流和信息化管理为核心技术，以开拓全国市场、参与全球竞争为目标的经营格局。</string>
		<key>type</key>
		<string>0</string>
		<key>des2</key>
		<string>该公司主营业务为连锁超市，经营范围为：服装鞋帽，服饰系列配套商品，日用百货，工艺美术品，五金交电，文教用品，中西餐饮，仓储运输，经营进出口业务，建材、装潢材料，超市管理，食品，常用药品，粮食及其制品，连锁加盟，副食品，收购水产品、蔬菜、水果，烟，酒，代客服务（除专项规定外），计划生育药具，附设分支（上述经营范围涉及许可证经营的凭许可证经营）</string>
		<key>des3</key>
		<string>该公司长期致力于国内外零售市场的开拓。在学习借鉴国内外连锁业先进经验的基础上，积极推进体制和机制创新。以“华联无假货，件件都放心”为自律标准，严格按照ISO9002国际质量认证体系的要求，从商品采购、商品的保管到上货架商品的管理，都实行商品质量全过程负责制，做到货真价实，诚信经营。以“商品高品质，服务添价值”为服务理念，公司先后推出了“962828免费送货热线”、“24小时服务的便利角”等服务新措施，全方位提高服务水平。以“比竞争对手成本更低”为经营策略，公司从对显性资金流的控制提升到对隐性资金流的控制，主要通过全员控制、全过程控制和全方位控制“三管齐下”，向管理要效益。为了防范经营风险，华联超市从企业内部控制环境、财务会计控制系统和主要控制程序等几个方面来建立并落实企业内部的控制制度，不断提升管理水平，成功地走出了一条以“低投入、低风险、高效益、高产出”为特色的经营发展路子</string>
	</dict>
    <dict>
        <key>icon</key>
        <string>1.jpg</string>
        <key>price</key>
        <string>0.8~29.7</string>
        <key>active</key>
        <string>0.92</string>
        <key>name</key>
        <string>华联超市(饮料类)</string>
        <key>des</key>
        <string>华联超市股份有限公司是中国国内第一家上市的连锁超市公司，其前身为成立于1993年1月的上海华联超市公司。公司以“挑战极限，追求卓越”为企业精神，以“低成本、低投入、高效益、高产出”为经营原则，以特许加盟为经营特色，形成了以标准超市、大卖场、便利店为主营业态，以现代化物流和信息化管理为核心技术，以开拓全国市场、参与全球竞争为目标的经营格局。</string>
        <key>type</key>
        <string>0</string>
        <key>des2</key>
        <string>该公司主营业务为连锁超市，经营范围为：服装鞋帽，服饰系列配套商品，日用百货，工艺美术品，五金交电，文教用品，中西餐饮，仓储运输，经营进出口业务，建材、装潢材料，超市管理，食品，常用药品，粮食及其制品，连锁加盟，副食品，收购水产品、蔬菜、水果，烟，酒，代客服务（除专项规定外），计划生育药具，附设分支（上述经营范围涉及许可证经营的凭许可证经营）</string>
        <key>des3</key>
        <string>该公司长期致力于国内外零售市场的开拓。在学习借鉴国内外连锁业先进经验的基础上，积极推进体制和机制创新。以“华联无假货，件件都放心”为自律标准，严格按照ISO9002国际质量认证体系的要求，从商品采购、商品的保管到上货架商品的管理，都实行商品质量全过程负责制，做到货真价实，诚信经营。以“商品高品质，服务添价值”为服务理念，公司先后推出了“962828免费送货热线”、“24小时服务的便利角”等服务新措施，全方位提高服务水平。以“比竞争对手成本更低”为经营策略，公司从对显性资金流的控制提升到对隐性资金流的控制，主要通过全员控制、全过程控制和全方位控制“三管齐下”，向管理要效益。为了防范经营风险，华联超市从企业内部控制环境、财务会计控制系统和主要控制程序等几个方面来建立并落实企业内部的控制制度，不断提升管理水平，成功地走出了一条以“低投入、低风险、高效益、高产出”为特色的经营发展路子</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>1.jpg</string>
        <key>price</key>
        <string>0.8~29.7</string>
        <key>active</key>
        <string>0.92</string>
        <key>name</key>
        <string>华联超市(饮料类)</string>
        <key>des</key>
        <string>华联超市股份有限公司是中国国内第一家上市的连锁超市公司，其前身为成立于1993年1月的上海华联超市公司。公司以“挑战极限，追求卓越”为企业精神，以“低成本、低投入、高效益、高产出”为经营原则，以特许加盟为经营特色，形成了以标准超市、大卖场、便利店为主营业态，以现代化物流和信息化管理为核心技术，以开拓全国市场、参与全球竞争为目标的经营格局。</string>
        <key>type</key>
        <string>0</string>
        <key>des2</key>
        <string>该公司主营业务为连锁超市，经营范围为：服装鞋帽，服饰系列配套商品，日用百货，工艺美术品，五金交电，文教用品，中西餐饮，仓储运输，经营进出口业务，建材、装潢材料，超市管理，食品，常用药品，粮食及其制品，连锁加盟，副食品，收购水产品、蔬菜、水果，烟，酒，代客服务（除专项规定外），计划生育药具，附设分支（上述经营范围涉及许可证经营的凭许可证经营）</string>
        <key>des3</key>
        <string>该公司长期致力于国内外零售市场的开拓。在学习借鉴国内外连锁业先进经验的基础上，积极推进体制和机制创新。以“华联无假货，件件都放心”为自律标准，严格按照ISO9002国际质量认证体系的要求，从商品采购、商品的保管到上货架商品的管理，都实行商品质量全过程负责制，做到货真价实，诚信经营。以“商品高品质，服务添价值”为服务理念，公司先后推出了“962828免费送货热线”、“24小时服务的便利角”等服务新措施，全方位提高服务水平。以“比竞争对手成本更低”为经营策略，公司从对显性资金流的控制提升到对隐性资金流的控制，主要通过全员控制、全过程控制和全方位控制“三管齐下”，向管理要效益。为了防范经营风险，华联超市从企业内部控制环境、财务会计控制系统和主要控制程序等几个方面来建立并落实企业内部的控制制度，不断提升管理水平，成功地走出了一条以“低投入、低风险、高效益、高产出”为特色的经营发展路子</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>1.jpg</string>
        <key>price</key>
        <string>0.8~29.7</string>
        <key>active</key>
        <string>0.92</string>
        <key>name</key>
        <string>华联超市(饮料类)</string>
        <key>des</key>
        <string>华联超市股份有限公司是中国国内第一家上市的连锁超市公司，其前身为成立于1993年1月的上海华联超市公司。公司以“挑战极限，追求卓越”为企业精神，以“低成本、低投入、高效益、高产出”为经营原则，以特许加盟为经营特色，形成了以标准超市、大卖场、便利店为主营业态，以现代化物流和信息化管理为核心技术，以开拓全国市场、参与全球竞争为目标的经营格局。</string>
        <key>type</key>
        <string>0</string>
        <key>des2</key>
        <string>该公司主营业务为连锁超市，经营范围为：服装鞋帽，服饰系列配套商品，日用百货，工艺美术品，五金交电，文教用品，中西餐饮，仓储运输，经营进出口业务，建材、装潢材料，超市管理，食品，常用药品，粮食及其制品，连锁加盟，副食品，收购水产品、蔬菜、水果，烟，酒，代客服务（除专项规定外），计划生育药具，附设分支（上述经营范围涉及许可证经营的凭许可证经营）</string>
        <key>des3</key>
        <string>该公司长期致力于国内外零售市场的开拓。在学习借鉴国内外连锁业先进经验的基础上，积极推进体制和机制创新。以“华联无假货，件件都放心”为自律标准，严格按照ISO9002国际质量认证体系的要求，从商品采购、商品的保管到上货架商品的管理，都实行商品质量全过程负责制，做到货真价实，诚信经营。以“商品高品质，服务添价值”为服务理念，公司先后推出了“962828免费送货热线”、“24小时服务的便利角”等服务新措施，全方位提高服务水平。以“比竞争对手成本更低”为经营策略，公司从对显性资金流的控制提升到对隐性资金流的控制，主要通过全员控制、全过程控制和全方位控制“三管齐下”，向管理要效益。为了防范经营风险，华联超市从企业内部控制环境、财务会计控制系统和主要控制程序等几个方面来建立并落实企业内部的控制制度，不断提升管理水平，成功地走出了一条以“低投入、低风险、高效益、高产出”为特色的经营发展路子</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>1.jpg</string>
        <key>price</key>
        <string>0.8~29.7</string>
        <key>active</key>
        <string>0.92</string>
        <key>name</key>
        <string>华联超市(饮料类)</string>
        <key>des</key>
        <string>华联超市股份有限公司是中国国内第一家上市的连锁超市公司，其前身为成立于1993年1月的上海华联超市公司。公司以“挑战极限，追求卓越”为企业精神，以“低成本、低投入、高效益、高产出”为经营原则，以特许加盟为经营特色，形成了以标准超市、大卖场、便利店为主营业态，以现代化物流和信息化管理为核心技术，以开拓全国市场、参与全球竞争为目标的经营格局。</string>
        <key>type</key>
        <string>0</string>
        <key>des2</key>
        <string>该公司主营业务为连锁超市，经营范围为：服装鞋帽，服饰系列配套商品，日用百货，工艺美术品，五金交电，文教用品，中西餐饮，仓储运输，经营进出口业务，建材、装潢材料，超市管理，食品，常用药品，粮食及其制品，连锁加盟，副食品，收购水产品、蔬菜、水果，烟，酒，代客服务（除专项规定外），计划生育药具，附设分支（上述经营范围涉及许可证经营的凭许可证经营）</string>
        <key>des3</key>
        <string>该公司长期致力于国内外零售市场的开拓。在学习借鉴国内外连锁业先进经验的基础上，积极推进体制和机制创新。以“华联无假货，件件都放心”为自律标准，严格按照ISO9002国际质量认证体系的要求，从商品采购、商品的保管到上货架商品的管理，都实行商品质量全过程负责制，做到货真价实，诚信经营。以“商品高品质，服务添价值”为服务理念，公司先后推出了“962828免费送货热线”、“24小时服务的便利角”等服务新措施，全方位提高服务水平。以“比竞争对手成本更低”为经营策略，公司从对显性资金流的控制提升到对隐性资金流的控制，主要通过全员控制、全过程控制和全方位控制“三管齐下”，向管理要效益。为了防范经营风险，华联超市从企业内部控制环境、财务会计控制系统和主要控制程序等几个方面来建立并落实企业内部的控制制度，不断提升管理水平，成功地走出了一条以“低投入、低风险、高效益、高产出”为特色的经营发展路子</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>1.jpg</string>
        <key>price</key>
        <string>0.8~29.7</string>
        <key>active</key>
        <string>0.92</string>
        <key>name</key>
        <string>华联超市(饮料类)</string>
        <key>des</key>
        <string>华联超市股份有限公司是中国国内第一家上市的连锁超市公司，其前身为成立于1993年1月的上海华联超市公司。公司以“挑战极限，追求卓越”为企业精神，以“低成本、低投入、高效益、高产出”为经营原则，以特许加盟为经营特色，形成了以标准超市、大卖场、便利店为主营业态，以现代化物流和信息化管理为核心技术，以开拓全国市场、参与全球竞争为目标的经营格局。</string>
        <key>type</key>
        <string>0</string>
        <key>des2</key>
        <string>该公司主营业务为连锁超市，经营范围为：服装鞋帽，服饰系列配套商品，日用百货，工艺美术品，五金交电，文教用品，中西餐饮，仓储运输，经营进出口业务，建材、装潢材料，超市管理，食品，常用药品，粮食及其制品，连锁加盟，副食品，收购水产品、蔬菜、水果，烟，酒，代客服务（除专项规定外），计划生育药具，附设分支（上述经营范围涉及许可证经营的凭许可证经营）</string>
        <key>des3</key>
        <string>该公司长期致力于国内外零售市场的开拓。在学习借鉴国内外连锁业先进经验的基础上，积极推进体制和机制创新。以“华联无假货，件件都放心”为自律标准，严格按照ISO9002国际质量认证体系的要求，从商品采购、商品的保管到上货架商品的管理，都实行商品质量全过程负责制，做到货真价实，诚信经营。以“商品高品质，服务添价值”为服务理念，公司先后推出了“962828免费送货热线”、“24小时服务的便利角”等服务新措施，全方位提高服务水平。以“比竞争对手成本更低”为经营策略，公司从对显性资金流的控制提升到对隐性资金流的控制，主要通过全员控制、全过程控制和全方位控制“三管齐下”，向管理要效益。为了防范经营风险，华联超市从企业内部控制环境、财务会计控制系统和主要控制程序等几个方面来建立并落实企业内部的控制制度，不断提升管理水平，成功地走出了一条以“低投入、低风险、高效益、高产出”为特色的经营发展路子</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>1.jpg</string>
        <key>price</key>
        <string>0.8~29.7</string>
        <key>active</key>
        <string>0.92</string>
        <key>name</key>
        <string>华联超市(饮料类)</string>
        <key>des</key>
        <string>华联超市股份有限公司是中国国内第一家上市的连锁超市公司，其前身为成立于1993年1月的上海华联超市公司。公司以“挑战极限，追求卓越”为企业精神，以“低成本、低投入、高效益、高产出”为经营原则，以特许加盟为经营特色，形成了以标准超市、大卖场、便利店为主营业态，以现代化物流和信息化管理为核心技术，以开拓全国市场、参与全球竞争为目标的经营格局。</string>
        <key>type</key>
        <string>0</string>
        <key>des2</key>
        <string>该公司主营业务为连锁超市，经营范围为：服装鞋帽，服饰系列配套商品，日用百货，工艺美术品，五金交电，文教用品，中西餐饮，仓储运输，经营进出口业务，建材、装潢材料，超市管理，食品，常用药品，粮食及其制品，连锁加盟，副食品，收购水产品、蔬菜、水果，烟，酒，代客服务（除专项规定外），计划生育药具，附设分支（上述经营范围涉及许可证经营的凭许可证经营）</string>
        <key>des3</key>
        <string>该公司长期致力于国内外零售市场的开拓。在学习借鉴国内外连锁业先进经验的基础上，积极推进体制和机制创新。以“华联无假货，件件都放心”为自律标准，严格按照ISO9002国际质量认证体系的要求，从商品采购、商品的保管到上货架商品的管理，都实行商品质量全过程负责制，做到货真价实，诚信经营。以“商品高品质，服务添价值”为服务理念，公司先后推出了“962828免费送货热线”、“24小时服务的便利角”等服务新措施，全方位提高服务水平。以“比竞争对手成本更低”为经营策略，公司从对显性资金流的控制提升到对隐性资金流的控制，主要通过全员控制、全过程控制和全方位控制“三管齐下”，向管理要效益。为了防范经营风险，华联超市从企业内部控制环境、财务会计控制系统和主要控制程序等几个方面来建立并落实企业内部的控制制度，不断提升管理水平，成功地走出了一条以“低投入、低风险、高效益、高产出”为特色的经营发展路子</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>1.jpg</string>
        <key>price</key>
        <string>0.8~29.7</string>
        <key>active</key>
        <string>0.92</string>
        <key>name</key>
        <string>华联超市(饮料类)</string>
        <key>des</key>
        <string>华联超市股份有限公司是中国国内第一家上市的连锁超市公司，其前身为成立于1993年1月的上海华联超市公司。公司以“挑战极限，追求卓越”为企业精神，以“低成本、低投入、高效益、高产出”为经营原则，以特许加盟为经营特色，形成了以标准超市、大卖场、便利店为主营业态，以现代化物流和信息化管理为核心技术，以开拓全国市场、参与全球竞争为目标的经营格局。</string>
        <key>type</key>
        <string>0</string>
        <key>des2</key>
        <string>该公司主营业务为连锁超市，经营范围为：服装鞋帽，服饰系列配套商品，日用百货，工艺美术品，五金交电，文教用品，中西餐饮，仓储运输，经营进出口业务，建材、装潢材料，超市管理，食品，常用药品，粮食及其制品，连锁加盟，副食品，收购水产品、蔬菜、水果，烟，酒，代客服务（除专项规定外），计划生育药具，附设分支（上述经营范围涉及许可证经营的凭许可证经营）</string>
        <key>des3</key>
        <string>该公司长期致力于国内外零售市场的开拓。在学习借鉴国内外连锁业先进经验的基础上，积极推进体制和机制创新。以“华联无假货，件件都放心”为自律标准，严格按照ISO9002国际质量认证体系的要求，从商品采购、商品的保管到上货架商品的管理，都实行商品质量全过程负责制，做到货真价实，诚信经营。以“商品高品质，服务添价值”为服务理念，公司先后推出了“962828免费送货热线”、“24小时服务的便利角”等服务新措施，全方位提高服务水平。以“比竞争对手成本更低”为经营策略，公司从对显性资金流的控制提升到对隐性资金流的控制，主要通过全员控制、全过程控制和全方位控制“三管齐下”，向管理要效益。为了防范经营风险，华联超市从企业内部控制环境、财务会计控制系统和主要控制程序等几个方面来建立并落实企业内部的控制制度，不断提升管理水平，成功地走出了一条以“低投入、低风险、高效益、高产出”为特色的经营发展路子</string>
    </dict>
</array>
</plist>
