<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1.jpg</string>
		<key>price</key>
		<string>0.8~29.7</string>
		<key>active</key>
		<string>0.92</string>
		<key>name</key>
		<string>华联超市(饮料类)</string>
		<key>des</key>
		<string>华联超市股份有限公司是中国国内第一家上市的连锁超市公司，其前身为成立于1993年1月的上海华联超市公司。公司以“挑战极限，追求卓越”为企业精神，以“低成本、低投入、高效益、高产出”为经营原则，以特许加盟为经营特色，形成了以标准超市、大卖场、便利店为主营业态，以现代化物流和信息化管理为核心技术，以开拓全国市场、参与全球竞争为目标的经营格局。</string>
		<key>type</key>
		<string>0</string>
		<key>des2</key>
		<string>该公司主营业务为连锁超市，经营范围为：服装鞋帽，服饰系列配套商品，日用百货，工艺美术品，五金交电，文教用品，中西餐饮，仓储运输，经营进出口业务，建材、装潢材料，超市管理，食品，常用药品，粮食及其制品，连锁加盟，副食品，收购水产品、蔬菜、水果，烟，酒，代客服务（除专项规定外），计划生育药具，附设分支（上述经营范围涉及许可证经营的凭许可证经营）</string>
		<key>des3</key>
		<string>该公司长期致力于国内外零售市场的开拓。在学习借鉴国内外连锁业先进经验的基础上，积极推进体制和机制创新。以“华联无假货，件件都放心”为自律标准，严格按照ISO9002国际质量认证体系的要求，从商品采购、商品的保管到上货架商品的管理，都实行商品质量全过程负责制，做到货真价实，诚信经营。以“商品高品质，服务添价值”为服务理念，公司先后推出了“962828免费送货热线”、“24小时服务的便利角”等服务新措施，全方位提高服务水平。以“比竞争对手成本更低”为经营策略，公司从对显性资金流的控制提升到对隐性资金流的控制，主要通过全员控制、全过程控制和全方位控制“三管齐下”，向管理要效益。为了防范经营风险，华联超市从企业内部控制环境、财务会计控制系统和主要控制程序等几个方面来建立并落实企业内部的控制制度，不断提升管理水平，成功地走出了一条以“低投入、低风险、高效益、高产出”为特色的经营发展路子</string>
		<key>image</key>
		<string>11.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.jpg</string>
		<key>price</key>
		<string>20~50</string>
		<key>active</key>
		<string>0.90</string>
		<key>name</key>
		<string>杨国富麻辣烫</string>
		<key>des</key>
		<string>杨国福麻辣烫风味独特富含多种健康的绿色蔬菜、藻类、菌类、豆制品。麻、辣、鲜、香，让您回味无穷，流连忘返。数十种特色烤串别具一阁营养健康：杨国福骨汤麻辣烫采用多种绿叶蔬菜、多种豆制品原料、海带等藻类、蘑菇等菌类、薯类、鱼类、肉类、蛋类等，蔬菜类原料占优势。新鲜蔬菜和肉丸、肠片、蛋类等的比例达到2∶1，只要进行合理搭配，它比一般的快餐菜肴更容易达到营养均衡、健康低脂的要求，也符合食物多样化的原则。骨汤中含有多种人体必需的营养成分，长期食用有利于健康</string>
		<key>type</key>
		<string>0</string>
		<key>des2</key>
		<string>麻辣烫起源于长江之滨。最初是船工和纤夫创造了麻辣烫这种简便易行而又独特的吃法。从宜宾到三峡的川江流域，由于水流湍急，纤夫成了必不可少的风景，他们在拉纤之余，在江边垒起石块，支起瓦罐，捡拾一些树枝作干柴生火，舀几瓢江水，一切都就地取材，有菜放菜，没菜就拔些野菜充数，再放入海椒、花椒等调料，涮而食之，既可果腹，又可驱寒、袪湿。这种吃法因其简便易行很快便在江边流传开来。后来，码头上的小贩看到了其中的商机，便将菜品和炉具加以改造，置于挑担两头，边走边吆喝，江边、桥头卖劳力的百姓便围着担子成了常客。时至今日，麻辣烫也渐渐从江边走到了岸上。这就是麻辣烫的起源。</string>
		<key>des3</key>
		<string>但随着社会的发展，生活水平的日益提高，人们崇尚健康、追求时尚、提高生活品质的需要越来越强烈，人们对食品已不再是吃饱、吃好这么简单，而是更注重食品的健康与保健作用。这样传统麻辣烫的经营模式和就餐方式中的种种弊端就暴露无遗：工艺粗糙、口味品种单一、就餐环境差、只能吃菜不能品汤等，甚至连食品卫生和饮食安全都成了大问题。
            于是，环境好、口味统一、服务到位的新派麻辣烫店也就应运而生，例如：麻辣煮题，是其中大胆创新的一个，也属于新派麻辣烫的代表，正在得到越来越多现代消费者的青睐和追捧，不得不说，传统的经营模式，需要不断的改进与创新，才能得以发展。
            传统麻辣烫市场的发展，经历了地摊式经营、排挡式经营、店面式经营；口味式经营、服务式经营、服务与菜肴并重的阶段之后，自2008年开始，市场进入了更激烈的品牌竞争阶段。纵观整个行业的发展与变化，归根结底都是以市场为中心。传统麻辣烫店（摊）忽略了顾客个性化消费的需求，省略了与顾客的交流，产品口味单一（就是麻辣，不讲究口味与营养的搭配），消费服务方式简单，从而导致传统麻辣烫的经营在竞争中处于劣势。因此，在有序的、特色化、效益化的竞争阶段，只有以顾客为中心，以市场为导向，改变经营观念和服务理念，不断满足客人需求，让客人感到物超所值，才能立于不败之地。</string>
        <key>image</key>
        <string>22.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.jpg</string>
		<key>price</key>
		<string>100～1000</string>
		<key>active</key>
		<string>0.88</string>
		<key>name</key>
		<string>奥特莱斯</string>
		<key>des</key>
        <string>“奥特莱斯”是英文OUTLETS的中文直译。其英文原意是“出口、出路、排出口”的意思，在零售商业中专指由销售名牌过季、下架、断码商品的商店组成的购物中心，因此也被称为“品牌直销购物中心”。
            奥特莱斯（Outlets）最早诞生于美国，迄今已有近一百年的历史。Outlets最早就是“工厂直销店”专门处理工厂尾货。后来逐渐汇集，慢慢形成类似Shopping Mall的大型Outlets购物中心，并逐渐发展成为一个独立的零售业态。虽然Factory Outlet这种业态在美国已有100年的历史，但真正有规模的发展是从1970年左右开始的。</string>
		<key>type</key>
		<string>0</string>
		<key>des2</key>
		<string>奥特莱斯联营模式借鉴的是百货核心合作模式，这种模式采用统一收银方式，奥特莱斯商场按照合作扣率比例收取销售提成，扣除销售提成及必要费用后余款按合同约定日期返还厂商，合作双方签订的是联营合同。这种模式在大卖场式奥特莱斯以及百货式奥特莱斯运用比较普遍。其优势在于便于奥特莱斯商场迅速汇集大量现金流，合作双方风险共担。其劣势是运营管理压力比较大，运营成本也比较高。</string>
		<key>des3</key>
        <string>奥特莱斯是英文Outlets的中文直译，指由销售名牌过季、下架、断码商品的商店组成的购物中心，因此也被称为“品牌直销购物中心”。根据相关研究资料显示，最早诞生于美国，迄今已有100多年的历史。早期有的工厂为了处理商品库存，将一些余量商品和残损商品发给雇员，并打开仓库就地销售，这就是最早的单店奥特莱斯模式。
            国内市场兴盛于2006年。2002年燕莎开出中国第一家奥特莱斯，2006年以后奥特莱斯在全国各地如雨后春笋般建起。据戴德梁行不完全统计，全国大约有200多家以奥特莱斯命名或主打奥特莱斯概念的商场。但真正符合国际奥特莱斯标准的不过10多家，能够成功运营赢得消费者赞誉的更寥寥无几。
            在2015年，我国奢侈品市场预计将达到270亿美元，中国将超过日本成为全球最大的奢侈品市场。随着我国经济的高速发展，消费习惯的改变、品牌观念的加强、名品消费人口基数的扩大，我国已初步具备发展奥特莱斯的综合条件，但目前国内尚未出现真正意义上的奥特莱斯，因此在中国开发建设发展奥特莱斯正值大好时机。
            嗅着奥特莱斯商机的地产商们，正在全国多个城市复制着奥特莱斯这个舶来品。由首创置业和中国基建集团联合创建的奥特莱斯(中国)有限公司在过去十年的时间里已在华南、华北、华中、华东、东北五大区投资了多个项目总值约500亿元。在未来5年内计划再投资600亿元，在中国所有直辖市及主要省会城市打造15个芭蕾雨项目;未来10年内再投资800亿元，在大部分省会城市及重要地级市、风景旅游区打造30家奥特莱斯风情小镇及度假购物村。但作为当前奥特莱斯项目的主要经营主体的地产开发商，普遍存在重销售轻服务、重招商轻管理的问题，同时相对薄弱的品牌号召力无法确保奥特莱斯“名品”的商业内核。因此，地产开发商在运作奥特莱斯项目，可以考虑与当地百货零售龙头企业进行合作经营，实现资源互补。</string>
        <key>image</key>
        <string>33.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.jpg</string>
		<key>price</key>
		<string>0.8~29.7</string>
		<key>active</key>
		<string>0.92</string>
		<key>name</key>
		<string>华联超市(饮料类)</string>
		<key>des</key>
		<string>华联超市股份有限公司是中国国内第一家上市的连锁超市公司，其前身为成立于1993年1月的上海华联超市公司。公司以“挑战极限，追求卓越”为企业精神，以“低成本、低投入、高效益、高产出”为经营原则，以特许加盟为经营特色，形成了以标准超市、大卖场、便利店为主营业态，以现代化物流和信息化管理为核心技术，以开拓全国市场、参与全球竞争为目标的经营格局。</string>
		<key>type</key>
		<string>0</string>
		<key>des2</key>
		<string>该公司主营业务为连锁超市，经营范围为：服装鞋帽，服饰系列配套商品，日用百货，工艺美术品，五金交电，文教用品，中西餐饮，仓储运输，经营进出口业务，建材、装潢材料，超市管理，食品，常用药品，粮食及其制品，连锁加盟，副食品，收购水产品、蔬菜、水果，烟，酒，代客服务（除专项规定外），计划生育药具，附设分支（上述经营范围涉及许可证经营的凭许可证经营）</string>
		<key>des3</key>
		<string>该公司长期致力于国内外零售市场的开拓。在学习借鉴国内外连锁业先进经验的基础上，积极推进体制和机制创新。以“华联无假货，件件都放心”为自律标准，严格按照ISO9002国际质量认证体系的要求，从商品采购、商品的保管到上货架商品的管理，都实行商品质量全过程负责制，做到货真价实，诚信经营。以“商品高品质，服务添价值”为服务理念，公司先后推出了“962828免费送货热线”、“24小时服务的便利角”等服务新措施，全方位提高服务水平。以“比竞争对手成本更低”为经营策略，公司从对显性资金流的控制提升到对隐性资金流的控制，主要通过全员控制、全过程控制和全方位控制“三管齐下”，向管理要效益。为了防范经营风险，华联超市从企业内部控制环境、财务会计控制系统和主要控制程序等几个方面来建立并落实企业内部的控制制度，不断提升管理水平，成功地走出了一条以“低投入、低风险、高效益、高产出”为特色的经营发展路子</string>
        <key>image</key>
        <string>11.jpg</string>
	</dict>
    <dict>
        <key>icon</key>
        <string>3.jpg</string>
        <key>price</key>
        <string>100～1000</string>
        <key>active</key>
        <string>0.88</string>
        <key>name</key>
        <string>奥特莱斯</string>
        <key>des</key>
        <string>“奥特莱斯”是英文OUTLETS的中文直译。其英文原意是“出口、出路、排出口”的意思，在零售商业中专指由销售名牌过季、下架、断码商品的商店组成的购物中心，因此也被称为“品牌直销购物中心”。
            奥特莱斯（Outlets）最早诞生于美国，迄今已有近一百年的历史。Outlets最早就是“工厂直销店”专门处理工厂尾货。后来逐渐汇集，慢慢形成类似Shopping Mall的大型Outlets购物中心，并逐渐发展成为一个独立的零售业态。虽然Factory Outlet这种业态在美国已有100年的历史，但真正有规模的发展是从1970年左右开始的。</string>
        <key>type</key>
        <string>0</string>
        <key>des2</key>
        <string>奥特莱斯联营模式借鉴的是百货核心合作模式，这种模式采用统一收银方式，奥特莱斯商场按照合作扣率比例收取销售提成，扣除销售提成及必要费用后余款按合同约定日期返还厂商，合作双方签订的是联营合同。这种模式在大卖场式奥特莱斯以及百货式奥特莱斯运用比较普遍。其优势在于便于奥特莱斯商场迅速汇集大量现金流，合作双方风险共担。其劣势是运营管理压力比较大，运营成本也比较高。</string>
        <key>des3</key>
        <string>奥特莱斯是英文Outlets的中文直译，指由销售名牌过季、下架、断码商品的商店组成的购物中心，因此也被称为“品牌直销购物中心”。根据相关研究资料显示，最早诞生于美国，迄今已有100多年的历史。早期有的工厂为了处理商品库存，将一些余量商品和残损商品发给雇员，并打开仓库就地销售，这就是最早的单店奥特莱斯模式。
            国内市场兴盛于2006年。2002年燕莎开出中国第一家奥特莱斯，2006年以后奥特莱斯在全国各地如雨后春笋般建起。据戴德梁行不完全统计，全国大约有200多家以奥特莱斯命名或主打奥特莱斯概念的商场。但真正符合国际奥特莱斯标准的不过10多家，能够成功运营赢得消费者赞誉的更寥寥无几。
            在2015年，我国奢侈品市场预计将达到270亿美元，中国将超过日本成为全球最大的奢侈品市场。随着我国经济的高速发展，消费习惯的改变、品牌观念的加强、名品消费人口基数的扩大，我国已初步具备发展奥特莱斯的综合条件，但目前国内尚未出现真正意义上的奥特莱斯，因此在中国开发建设发展奥特莱斯正值大好时机。
            嗅着奥特莱斯商机的地产商们，正在全国多个城市复制着奥特莱斯这个舶来品。由首创置业和中国基建集团联合创建的奥特莱斯(中国)有限公司在过去十年的时间里已在华南、华北、华中、华东、东北五大区投资了多个项目总值约500亿元。在未来5年内计划再投资600亿元，在中国所有直辖市及主要省会城市打造15个芭蕾雨项目;未来10年内再投资800亿元，在大部分省会城市及重要地级市、风景旅游区打造30家奥特莱斯风情小镇及度假购物村。但作为当前奥特莱斯项目的主要经营主体的地产开发商，普遍存在重销售轻服务、重招商轻管理的问题，同时相对薄弱的品牌号召力无法确保奥特莱斯“名品”的商业内核。因此，地产开发商在运作奥特莱斯项目，可以考虑与当地百货零售龙头企业进行合作经营，实现资源互补。</string>
        <key>image</key>
        <string>33.jpg</string>
    </dict>
	<dict>
		<key>icon</key>
		<string>1.jpg</string>
		<key>price</key>
		<string>0.8~29.7</string>
		<key>active</key>
		<string>0.92</string>
		<key>name</key>
		<string>华联超市(饮料类)</string>
		<key>des</key>
		<string>华联超市股份有限公司是中国国内第一家上市的连锁超市公司，其前身为成立于1993年1月的上海华联超市公司。公司以“挑战极限，追求卓越”为企业精神，以“低成本、低投入、高效益、高产出”为经营原则，以特许加盟为经营特色，形成了以标准超市、大卖场、便利店为主营业态，以现代化物流和信息化管理为核心技术，以开拓全国市场、参与全球竞争为目标的经营格局。</string>
		<key>type</key>
		<string>0</string>
		<key>des2</key>
		<string>该公司主营业务为连锁超市，经营范围为：服装鞋帽，服饰系列配套商品，日用百货，工艺美术品，五金交电，文教用品，中西餐饮，仓储运输，经营进出口业务，建材、装潢材料，超市管理，食品，常用药品，粮食及其制品，连锁加盟，副食品，收购水产品、蔬菜、水果，烟，酒，代客服务（除专项规定外），计划生育药具，附设分支（上述经营范围涉及许可证经营的凭许可证经营）</string>
		<key>des3</key>
		<string>该公司长期致力于国内外零售市场的开拓。在学习借鉴国内外连锁业先进经验的基础上，积极推进体制和机制创新。以“华联无假货，件件都放心”为自律标准，严格按照ISO9002国际质量认证体系的要求，从商品采购、商品的保管到上货架商品的管理，都实行商品质量全过程负责制，做到货真价实，诚信经营。以“商品高品质，服务添价值”为服务理念，公司先后推出了“962828免费送货热线”、“24小时服务的便利角”等服务新措施，全方位提高服务水平。以“比竞争对手成本更低”为经营策略，公司从对显性资金流的控制提升到对隐性资金流的控制，主要通过全员控制、全过程控制和全方位控制“三管齐下”，向管理要效益。为了防范经营风险，华联超市从企业内部控制环境、财务会计控制系统和主要控制程序等几个方面来建立并落实企业内部的控制制度，不断提升管理水平，成功地走出了一条以“低投入、低风险、高效益、高产出”为特色的经营发展路子</string>
        <key>image</key>
        <string>11.jpg</string>
	</dict>
    <dict>
        <key>icon</key>
        <string>2.jpg</string>
        <key>price</key>
        <string>20~50</string>
        <key>active</key>
        <string>0.90</string>
        <key>name</key>
        <string>杨国富麻辣烫</string>
        <key>des</key>
        <string>杨国福麻辣烫风味独特富含多种健康的绿色蔬菜、藻类、菌类、豆制品。麻、辣、鲜、香，让您回味无穷，流连忘返。数十种特色烤串别具一阁营养健康：杨国福骨汤麻辣烫采用多种绿叶蔬菜、多种豆制品原料、海带等藻类、蘑菇等菌类、薯类、鱼类、肉类、蛋类等，蔬菜类原料占优势。新鲜蔬菜和肉丸、肠片、蛋类等的比例达到2∶1，只要进行合理搭配，它比一般的快餐菜肴更容易达到营养均衡、健康低脂的要求，也符合食物多样化的原则。骨汤中含有多种人体必需的营养成分，长期食用有利于健康</string>
        <key>type</key>
        <string>0</string>
        <key>des2</key>
        <string>麻辣烫起源于长江之滨。最初是船工和纤夫创造了麻辣烫这种简便易行而又独特的吃法。从宜宾到三峡的川江流域，由于水流湍急，纤夫成了必不可少的风景，他们在拉纤之余，在江边垒起石块，支起瓦罐，捡拾一些树枝作干柴生火，舀几瓢江水，一切都就地取材，有菜放菜，没菜就拔些野菜充数，再放入海椒、花椒等调料，涮而食之，既可果腹，又可驱寒、袪湿。这种吃法因其简便易行很快便在江边流传开来。后来，码头上的小贩看到了其中的商机，便将菜品和炉具加以改造，置于挑担两头，边走边吆喝，江边、桥头卖劳力的百姓便围着担子成了常客。时至今日，麻辣烫也渐渐从江边走到了岸上。这就是麻辣烫的起源。</string>
        <key>des3</key>
        <string>但随着社会的发展，生活水平的日益提高，人们崇尚健康、追求时尚、提高生活品质的需要越来越强烈，人们对食品已不再是吃饱、吃好这么简单，而是更注重食品的健康与保健作用。这样传统麻辣烫的经营模式和就餐方式中的种种弊端就暴露无遗：工艺粗糙、口味品种单一、就餐环境差、只能吃菜不能品汤等，甚至连食品卫生和饮食安全都成了大问题。
            于是，环境好、口味统一、服务到位的新派麻辣烫店也就应运而生，例如：麻辣煮题，是其中大胆创新的一个，也属于新派麻辣烫的代表，正在得到越来越多现代消费者的青睐和追捧，不得不说，传统的经营模式，需要不断的改进与创新，才能得以发展。
            传统麻辣烫市场的发展，经历了地摊式经营、排挡式经营、店面式经营；口味式经营、服务式经营、服务与菜肴并重的阶段之后，自2008年开始，市场进入了更激烈的品牌竞争阶段。纵观整个行业的发展与变化，归根结底都是以市场为中心。传统麻辣烫店（摊）忽略了顾客个性化消费的需求，省略了与顾客的交流，产品口味单一（就是麻辣，不讲究口味与营养的搭配），消费服务方式简单，从而导致传统麻辣烫的经营在竞争中处于劣势。因此，在有序的、特色化、效益化的竞争阶段，只有以顾客为中心，以市场为导向，改变经营观念和服务理念，不断满足客人需求，让客人感到物超所值，才能立于不败之地。</string>
        <key>image</key>
        <string>22.jpg</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>3.jpg</string>
        <key>price</key>
        <string>100～1000</string>
        <key>active</key>
        <string>0.88</string>
        <key>name</key>
        <string>奥特莱斯</string>
        <key>des</key>
        <string>“奥特莱斯”是英文OUTLETS的中文直译。其英文原意是“出口、出路、排出口”的意思，在零售商业中专指由销售名牌过季、下架、断码商品的商店组成的购物中心，因此也被称为“品牌直销购物中心”。
            奥特莱斯（Outlets）最早诞生于美国，迄今已有近一百年的历史。Outlets最早就是“工厂直销店”专门处理工厂尾货。后来逐渐汇集，慢慢形成类似Shopping Mall的大型Outlets购物中心，并逐渐发展成为一个独立的零售业态。虽然Factory Outlet这种业态在美国已有100年的历史，但真正有规模的发展是从1970年左右开始的。</string>
        <key>type</key>
        <string>0</string>
        <key>des2</key>
        <string>奥特莱斯联营模式借鉴的是百货核心合作模式，这种模式采用统一收银方式，奥特莱斯商场按照合作扣率比例收取销售提成，扣除销售提成及必要费用后余款按合同约定日期返还厂商，合作双方签订的是联营合同。这种模式在大卖场式奥特莱斯以及百货式奥特莱斯运用比较普遍。其优势在于便于奥特莱斯商场迅速汇集大量现金流，合作双方风险共担。其劣势是运营管理压力比较大，运营成本也比较高。</string>
        <key>des3</key>
        <string>奥特莱斯是英文Outlets的中文直译，指由销售名牌过季、下架、断码商品的商店组成的购物中心，因此也被称为“品牌直销购物中心”。根据相关研究资料显示，最早诞生于美国，迄今已有100多年的历史。早期有的工厂为了处理商品库存，将一些余量商品和残损商品发给雇员，并打开仓库就地销售，这就是最早的单店奥特莱斯模式。
            国内市场兴盛于2006年。2002年燕莎开出中国第一家奥特莱斯，2006年以后奥特莱斯在全国各地如雨后春笋般建起。据戴德梁行不完全统计，全国大约有200多家以奥特莱斯命名或主打奥特莱斯概念的商场。但真正符合国际奥特莱斯标准的不过10多家，能够成功运营赢得消费者赞誉的更寥寥无几。
            在2015年，我国奢侈品市场预计将达到270亿美元，中国将超过日本成为全球最大的奢侈品市场。随着我国经济的高速发展，消费习惯的改变、品牌观念的加强、名品消费人口基数的扩大，我国已初步具备发展奥特莱斯的综合条件，但目前国内尚未出现真正意义上的奥特莱斯，因此在中国开发建设发展奥特莱斯正值大好时机。
            嗅着奥特莱斯商机的地产商们，正在全国多个城市复制着奥特莱斯这个舶来品。由首创置业和中国基建集团联合创建的奥特莱斯(中国)有限公司在过去十年的时间里已在华南、华北、华中、华东、东北五大区投资了多个项目总值约500亿元。在未来5年内计划再投资600亿元，在中国所有直辖市及主要省会城市打造15个芭蕾雨项目;未来10年内再投资800亿元，在大部分省会城市及重要地级市、风景旅游区打造30家奥特莱斯风情小镇及度假购物村。但作为当前奥特莱斯项目的主要经营主体的地产开发商，普遍存在重销售轻服务、重招商轻管理的问题，同时相对薄弱的品牌号召力无法确保奥特莱斯“名品”的商业内核。因此，地产开发商在运作奥特莱斯项目，可以考虑与当地百货零售龙头企业进行合作经营，实现资源互补。</string>
        <key>image</key>
        <string>33.jpg</string>
    </dict>
</array>
</plist>
